.bg-main{
  background-color: #101010;
}
.logo{
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}
.logo:hover{
  color: #fff;
  
}
.personal__info p{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}
.profile__image{
  width: 60px;
  border-radius: 50%;
}
body{
  background-color: #292929 !important;
}
nav .container a{
  color: #D0CBCB;
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
}
.activeNav{
  color: #fff !important;
  border-bottom: 2px solid #fff;
  font-weight: 700;
}
.single__ride{
  background-color: #171717;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px 25px;
}

.ride__details ul{
  color:#CFCFCF;
  font-size: 18px;
}
.ride__details ul span{
  color:#fff
}